<!DOCTYPE html>
<html lang="en">
<head>
  <title>ConTTi</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="../ConTTi/node_modules/bootstrap/dist/css/bootstrap.min.css">
  <script src="../ConTTi/node_modules/angular/angular.min.js"></script>
  <script src="../ConTTi/node_modules/angular-route/angular-route.min.js"></script>
  <script src="../ConTTi/node_modules/jquery/dist//jquery.min.js"></script>
  <script src="../ConTTi/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
  
  <link rel="stylesheet" href="../ConTTi/maincss.css">
  
</head>
<body ng-app="contti">
  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>                        
        </button>
        <a class="navbar-brand" href="#/Home">ConTTi</a>
      </div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav">
          <li><a href="#/ToDoList"><span class="glyphicon glyphicon-list-alt"></span><b>ToDoList</b></a></li>
          <li><a href="#/Economy"><span class="glyphicon glyphicon-usd"></span><b>Economy</b></a></li>
          <li><a href="#/Projects"><b>Projects</b></a></li>
          <li><a href="#/Contacts"><b>Contacts</b></a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- begin content -->

  <div class="container-fluid text-center" ng-controller="listCtrl">    
    <div class="row content">
      <div class="col-sm-2 sidenav">
        <div ng-repeat="x in days">
          <p><a href="#"><button class="btn btn-block btn-primary"><div ng-bind="x.name"></div></button></a></p>
        </div>
        <button class="btn btn-block btn-info" ng-click="addGroup()">Add new group</button>
      </div>
      <div class="col-sm-8 text-left"> 
        <div>
          <h3 class="text-center">Task list</h3>
          <form class="row" ng-submit="addNew()">
            <div class="col-md-11">
              <input class="form-control" type="text" placeholder="New task..." ng-model="enterTask">
            </div>
            <div class="col-md-1 text-center">
              <button class="btn btn-info">
                <span class="glyphicon glyphicon-plus"></span>
              </button>
            </div>
            <div class="col-md-12">
            <div class="col-md-1"></div>
            <div class="col-md-10">
              <span>Select day:</span>
              <select id="day" ng-options="option.name for option in days track by option.id" ng-model="selectedDay">
              </select>
              <span>Select priority:</span>
              <select id="priority" ng-options="option.name for option in priorities track by option.id" ng-model="selectedPriority">
              </select></div>
              <div class="col-md-1"></div>
            </div>
          </form>
          <div><span class="row"><b>I need to: </b><i>{{ enterTask }}</i></span></div>
          <div class="list-group" ng-repeat="x in taskList">
            <div class="col-md-12 list-group-item">
              <div class="col-md-11">
                <h4><b><div ng-bind="x.todoText"></div></b></h4>
                <span>Priority: </span><span ng-bind="x.priority"></span><br>
                <span>Day: </span><span ng-bind="x.day"></span>
              </div>
              <div class="col-md-1 text-center">
                <button class="btn btn-success" ng-click="remove($index)">
                  <span class="glyphicon glyphicon-ok"></span>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-2 sidenav">
        <div class="well">
          <p>ADS</p>
        </div>
        <div class="well">
          <p>ADS</p>
        </div>
      </div>
    </div>
  </div>

  <!-- end content -->

  <script src="../ConTTi/indexctrl.js"></script>
  <script src="../ConTTi/controllers/listctrl.js"></script>
  <!-- <script src="../ConTTi/controllers/economyctrl.js"></script> -->
</body>
</html>
