<!DOCTYPE html>
<html lang="en">
<head>
  <title>ConTTi</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="../ConTTi/node_modules/bootstrap/dist/css/bootstrap.min.css">
  <script src="../ConTTi/node_modules/angular/angular.min.js"></script>
  <script src="../ConTTi/node_modules/angular-route/angular-route.min.js"></script>
  <script src="../ConTTi/node_modules/jquery/dist//jquery.min.js"></script>
  <script src="../ConTTi/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
  
  <link rel="stylesheet" href="../ConTTi/maincss.css">
  
</head>
<body ng-app="contti">
  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>                        
        </button>
        <a class="navbar-brand" href="#/Home">ConTTi</a>
      </div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav">
          <li><a href="#/ToDoList"><span class="glyphicon glyphicon-list-alt"></span><b>ToDoList</b></a></li>
          <li><a href="#/Economy"><span class="glyphicon glyphicon-usd"></span><b>Economy</b></a></li>
          <li><a href="#/Projects"><b>Projects</b></a></li>
          <li><a href="#/Contacts"><b>Contacts</b></a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- begin content -->

  <div class="container-fluid text-center">    
    <div class="row content">
      <div class="col-sm-2 sidenav">
        <p><a href="#"><button class="btn btn-block btn-primary">Inbox</button></a></p>
        <p><a href="#"><button class="btn btn-block btn-primary">Today</button></a></p>
        <p><a href="#"><button class="btn btn-block btn-primary">Tomorrow</button></a></p>
        <p><a href="#"><button class="btn btn-block btn-primary">Next week</button></a></p>
        <p><a href="#"><button class="btn btn-block btn-info">Add new group</button></a></p>

      </div>
      <div class="col-sm-8 text-left"> 
        <div ng-controller="listCtrl">
          <h3 class="text-center">Task list</h3>
          <form class="row" ng-submit="addNew()">
            <div class="col-md-11">
              <input class="form-control" type="text" placeholder="Enter your task" ng-model="enterTask">
            </div>
            <div class="col-md-1 text-center">
              <button class="btn btn-info">
                <span class="glyphicon glyphicon-plus"></span>
              </button>
            </div>
            <div>
              <select name="whatDay" id="day">
                <option id="inbox">inbox</option>
                <option id="today">today</option>
                <option id="tomorrow">tomorrow</option>
                <option id="anotherdate">another date</option>
              </select>
              <select name="whatPriority" id="priority">
                <option id="veryhigh">very high</option>
                <option id="high">high</option>
                <option id="middle" selected>middle</option>
                <option id="low">low</option>
                <option id="verylow">very low</option>
              </select>
            </div>
          </form>
          <div><span class="row"><b>I need to: </b><i>{{ enterTask }}</i></span></div>
          <div class="list-group" ng-repeat="x in taskList">
            <div class="col-md-12 list-group-item">
              <div ng-bind="x.todoText" class="col-md-11"></div>
              <div class="col-md-1 text-center">
                <button class="btn btn-success" ng-click="remove($index)">
                  <span class="glyphicon glyphicon-ok"></span>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-2 sidenav">
        <div class="well">
          <p>ADS</p>
        </div>
        <div class="well">
          <p>ADS</p>
        </div>
      </div>
    </div>
  </div>

  <!-- end content -->

  <script src="../ConTTi/indexctrl.js"></script>
  <script src="../ConTTi/controllers/listctrl.js"></script>
  <!-- <script src="../ConTTi/controllers/economyctrl.js"></script> -->
</body>
</html>
