<h1>This is tasklist</h1>

<div ng-controller="listCtrl">
  <h3 class="text-center">Task list</h3>
  <form class="row" ng-submit="addNew()">
    <div class="col-md-11">
      <input class="form-control" type="text" placeholder="Enter you task" ng-model="enterTask">
    </div>
    <div class="col-md-1 text-center">
      <button class="btn btn-info">
        <span class="glyphicon glyphicon-plus"></span>
      </button>
    </div>
  </form>
  <div><span class="row"><b>I need to: </b><i>{{ enterTask }}</i></span></div>
  <div class="list-group" ng-repeat="x in taskList">
    <div class="col-md-12 list-group-item">
      <div ng-bind="x.todoText" class="col-md-11"></div>
      <div class="col-md-1 text-center">
        <button class="btn btn-danger" ng-click="remove($index)">
          <span class="glyphicon glyphicon-remove"></span>
        </button>
      </div>
    </div>
  </div>
</div>
