body {
	background-image: url(../img/bg-img.jpg);
	background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

.sidenav {
	min-height: 100%;
	background-color: rgba(0, 0, 0, 0);
}

.main-header {
	color: #fff;
	text-decoration: underline;
	text-transform: uppercase;
}

.bgcol {
	background-color: rgba(230, 230, 230, 0.8);
}

.newTaskForm {
	margin: 0 15px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}

.isComplite {
	width: 50px;
	margin: 0 auto 10px;
}

.todoText {
	margin-left: 10px;
}

.typingTask {
	min-height: 30px;
	text-shadow: 2px 0px 2px white;
}

.todoNameList {
	text-align: left;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-direction: column;
}

.taskName {
	flex: 1;
}

.taskSetting {
	font-size: 14px;
	font-weight: normal;
	flex: 1;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}

.taskDay {
	flex: 3;
	text-align: center;
}

.taskInfo {
	flex: 5;
}

.taskPriority {
	flex: 1;
	text-align: center;
	border-radius: 10px;
	height: 20px;
}

.actions {
	width: 100px;
	margin: 0 auto 10px;
}

.table>tbody>tr>td, 
.table>tbody>tr>th, 
.table>tfoot>tr>td, 
.table>tfoot>tr>th, 
.table>thead>tr>td, 
.table>thead>tr>th {
	vertical-align: middle;
	min-height: 80px;
}

table th {
	text-align: center;
}

.tableTop>tbody>tr>th {
	border-top: 0;
}

.todoCompliteTask {
	text-decoration: line-through;
}

.todoCompliteTaskColor {
	background-color: rgba(204, 255, 204, 0.7);
}

.dropdown-menu.priorities {
	margin: 0;
	padding: 3px;
	text-align: center;
	left: -30%;
	min-width: 50px;
}

.dropdown-menu.groups {
	margin: 0;
	padding: 3px;
	left: 10%;
	text-align: center;
	min-width: 60px;
}

.glyphicon-flag {
	font-size: 140%;
}

button.btn.btn-sm.btn-default.dropdown-toggle.prior {
	margin: 0;
	padding: 5px 8px;
	border: none;
	min-width: 60px;
}

button.btn.btn-sm.btn-default.dropdown-toggle.group {
	margin: 0;
	padding: 5px 8px;
	border: none;
	min-width: 70px;
	max-width: 130px;
}

ul>li {
	cursor: pointer;
	margin: 3px;
}

.lowest {
	background-color: #c7c7c7;
}

.low {
	background-color: #ffff4d;
}

.middle {
	background-color: #ffe066;
}

.high {
	background-color: #ff8000;
}

.highest {
	background-color: #cc2900;
}